@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}
body {
  display: grid;
  justify-content: center;
}

form input[type="text"],
    form input[type="email"] {
  width: 100%;
  margin-bottom: 15px;
}
textarea {
    width: 100%;
    resize: none;
}

#main_app {
  max-width: 700px;
  padding: 2rem;
  
}

img {
  max-width: 100%;
}
